[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "lib/emsdk"]
	path = lib/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "lib/pocketfft"]
	path = lib/pocketfft
	url = https://github.com/hayguen/pocketfft
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
