[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "lib/emsdk"]
	path = lib/emsdk
	url = https://github.com/emscripten-core/emsdk.git
